@model PPlanner.Models.UserProfile

@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}

@{
    ViewBag.Title = @resources["EditTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Model.UserName;
}

@Html.Partial("_Breadcrumbs", new ViewDataDictionary(ViewData) {
    { "lvl", "23" },
    { "firstVar", @resources["BreadCrumbUserManageFirst"] },
    { "variable", @resources["BreadCrumbEditUserSecond"] }
})

<div class="row mainwrapper">
    <div class="span2"><p></p></div>
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @Class = "form-horizontal" }))
    {
        <div class="panel">
            <div class="panel-heading">
                <h4 style="float:left;">@resources["UserDetailsHeaderTxt"] : @Model.UserName</h4>
                <div>
                    <a class="btn btn-xs btn-default" style="float:right;" href="@Url.Action("UserManage", "Account")">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        @resources["BackButton"]
                    </a>
                    @if (Model.UserName == User.Identity.Name || User.IsInRole("Admin"))
                    {
                        <button type="submit" class="btn btn-xs btn-success" style="float:right; margin-right: 10px;">
                            <span class="glyphicon glyphicon-floppy-disk"> </span>
                            @resources["SaveButton"]
                        </button>
                    }
                    else
                    {
                        Response.Redirect("/Account/Details?name=" + User.Identity.Name);
                    }
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-10 col-lg-offset-1">                    
                    <fieldset>
                        <legend>UserStory</legend>

                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.isApproved)
                        @if (Model.UserName == User.Identity.Name || User.IsInRole("Admin"))
                        {
                            <div class="form-group">
                                <div class="controls">
                                    @resources["UserFirstName"]
                                    @Html.TextBoxFor(model => model.FirstName, new { @Class = "form-control", @Placeholder = resources["PleaseEnterText"] })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>

                                <div class="controls">
                                    @resources["UserLastName"]
                                    @Html.TextBoxFor(model => model.LastName, new { @Class = "form-control", @Placeholder = resources["PleaseEnterText"] })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>

                                <div class="controls">
                                    @resources["Email"]
                                    @Html.TextBoxFor(model => model.Email, new { @Class = "form-control", @Placeholder = resources["PleaseEnterEmailText"] })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>

                                <div class="controls">
                                    @resources["Position"]
                                    @Html.TextBoxFor(model => model.Position, new { @Class = "form-control", @Placeholder = resources["PleaseEnterText"] })
                                    @Html.ValidationMessageFor(model => model.Position)
                                </div>

                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="controls">
                                        @resources["Role"]
                                        @Html.DropDownList("RoleName", (SelectList)ViewBag.RoleName, Model.RoleName != null ? Model.RoleName : @resources["PleaseWait"], new { @Class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RoleName)
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.RoleName)
                                }

                            </div>
                        }                        
                    </fieldset>                    
                </div>
            </div>
        </div>
    }
</div>              
