@model Dictionary<int, PPlanner.Models.Resources> 

@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}

@{
    ViewBag.Title = resources["ResourceIndexTitle"]; //
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Breadcrumbs", new ViewDataDictionary(ViewData) {
    { "lvl", "26" },
    {"firstVar", resources["BreadCrumbResourcesFirst"] }, //
    { "variable", resources["BreadCrumbResourcesSecond"] } //
})

<div class="row mainwrapper">
    <div class="span2"><p></p></div>
    <div class="panel">
        <div class="panel-heading">
            <h4 style="float:left;">@resources["ResourcesIndexHeadingTxt"]</h4>
            <div>
                <a class="btn btn-xs btn-default" style="float:right;" href="@Url.Action("Index", "Project")">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    @resources["BackButton"]
                </a>

                <a class="btn btn-xs btn-success" style="float:right;  margin-right: 10px;" href="@Url.Action("Create", "Resources")">
                    <span class="glyphicon glyphicon-plus"></span>
                    @resources["CreateNewResourceButton"]
                </a>

                <a class="btn btn-xs btn-primary" style="float:right;  margin-right: 10px;" href="@Url.Action("DownloadFile", "Resources")">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    @resources["DownloadAllInCSVFile"]
                </a>

                <a class="btn btn-xs btn-warning" style="float:right;  margin-right: 10px;" href="@Url.Action("Update", "Resources")">
                    <span class="glyphicon glyphicon-file"></span>
                    @resources["UpdateFromCSVFile"]
                </a>
            </div>

            <div style="clear:both;"></div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th style="width:30px;"></th>
                        <th>@resources["ResourceIndexGroup"]</th>
                        <th>@resources["ResourceIndexName"]</th>
                        <th>@resources["ResourceIndexValue"]</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit", "Resources", new { id = item.Key })" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td>
                               @item.Value.ResGroup
                            </td>
                            <td>
                                @item.Value.ResName
                            </td>
                            <td>
                                @item.Value.ResValue
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>