@model PPlanner.Models.UserStory

@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserStory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BackLogPriority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BackLogPriority)
            @Html.ValidationMessageFor(model => model.BackLogPriority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Effort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Effort)
            @Html.ValidationMessageFor(model => model.Effort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Project_ProjectId , "Project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectProjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectProjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemStatusItemStatusId, "ItemStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemStatusItemStatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemStatusItemStatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SprintSprintId, "Sprint")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SprintSprintId", String.Empty)
            @Html.ValidationMessageFor(model => model.SprintSprintId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
}
