@model IEnumerable<PPlanner.Models.UserStory>

@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}
@{
    ViewBag.Title = resources["SprintboardTitle"];
  
}

@Html.Partial("_Breadcrumbs", new ViewDataDictionary(ViewData) {
    { "lvl", "25" },
    { "var1", @resources["BreadCrumbSprintboardFirst"] },
    { "var2", @resources["BreadCrumbSprintboardSecond"]}
})


<div class="row mainwrapper">
    <div class="span2">
        <p></p>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 style="float:left;">@resources["SprintSprintboardIndexHeadingTxt"] @ViewBag.currentSprint </h4>
            <div>
                <a class="btn btn-xs btn-default" style="float:right;" href="@Url.Action("Details", "Project", new { id = ViewBag.ProjectId })">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        @resources["BackButton"]
                </a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="panel-body">

            <div class="col-md-4">
                <h5>@resources["ToDo"]</h5>
                <div id="ToDoDiv">
                    <ul id="ToDoDrop" class="dropList ui-helper-reset ui-helper-clearfix" data-statusid="@ViewBag.ToDoStatus">
                        @foreach (var item in Model)
                        {
                            if (item.ItemStatus_ItemStatusId == ViewBag.ToDoStatus)
                            {
                                <li class="ui-widget-content ui-corner-all" data-userstoryid="@item.Id">
                                    <h5 class="ui-widget-header">@(item.UserProfile == null ? "" : item.UserProfile.UserName)</h5>
                                    @item.Title
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h5>@resources["InProgress"]</h5>
                <div id="progressDiv">
                    <ul id="progressDrop" class="dropList ui-helper-reset ui-helper-clearfix" data-statusid="@ViewBag.InProgress">
                        @foreach (var item in Model)
                        {
                            if (item.ItemStatus_ItemStatusId == ViewBag.InProgress)
                            {
                                <li class="ui-widget-content ui-corner-all" data-userstoryid="@item.Id">
                                    <h5 class="ui-widget-header">@(item.UserProfile == null ? "" : item.UserProfile.UserName)</h5>
                                    @item.Title
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h5>@resources["Done"]</h5>
                <div id="doneDiv">
                    <ul id="doneDrop" class="dropList ui-helper-reset ui-helper-clearfix" data-statusid="@ViewBag.Done">
                        @foreach (var item in Model)
                        {
                            if (item.ItemStatus_ItemStatusId == ViewBag.Done)
                            {
                                <li class="ui-widget-content ui-corner-all" data-userstoryid="@item.Id">
                                    <h5 class="ui-widget-header">@(item.UserProfile == null ? "" : item.UserProfile.UserName)</h5>
                                    @item.Title
                                </li>
                            }
                            
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("SetStatusUrl", Url.Action("SetStatus", "Sprint"));
