@model IEnumerable<PPlanner.Models.Sprint>
@{
    Dictionary<string, string> resources = PPlanner.GetResources.GetResourcesFromDB();
}
<ul class="list-unstyled" >

    @foreach (var item in Model)
    {
        if (item.IsCurrent)
        {
            <li class="dropSprint list-group-item list-group-item-success" data-sprintid="@item.SprintId">
                <i class="icon-flag"></i>
                @Html.ActionLink(item.Name, "Index", "Sprint", new { ProjectId = item.Project_ProjectId, SprintId = item.SprintId }, null)
            </li>
        }
        else
        {
            <li class="dropSprint list-group-item" data-sprintid="@item.SprintId">
                <i class="icon-flag"></i>
                @Html.ActionLink(item.Name, "Index", "Sprint", new { ProjectId = item.Project_ProjectId, SprintId = item.SprintId }, null)
            </li>
        }

    }

</ul>

@Html.Hidden("setSprintURL",Url.Action("setSprint","Backlog"))